In [16]:
import os, sys

In [17]:
dir = os.path.dirname
path = dir(os.getcwd())
print(path)
sys.path.append(path)

d:\COSAS\BOOTCAMP\MLProyect

In [18]:
import os, sys
import src.utils.sql_tb as sql
import pandas as pd
import json
from scr.main import df_train df_test

In [ ]:
df_to_sql = df_train.append(df_test)
df_to_sql.drop('Image', axis =1, inplace=True )
df_to_sql['Dimension'] = '100x100'
df_to_sql.to_csv('../data/df_sql.csv', index=False)

In [4]:
sql.json

{'IP_DNS': 'consciencesai.com',
 'PORT': 30001,
 'USER': '53994161m',
 'PASSWORD': 'marina.serranoc',
 'BD_NAME': '53994161m_ds_april_2021_db'}

In [5]:
path = os.path.dirname(os.getcwd())
sys.path.append(path)

settings_file = path + os.sep + "src" + os.sep + "utils" + os.sep + "bd_info.json"

def read_json(fullpath):
    with open(fullpath, "r") as json_file_readed:
        json_readed = json.load(json_file_readed)
    return json_readed

json_r = read_json(fullpath=settings_file)

IP_DNS = json_r["IP_DNS"]
PORT = json_r["PORT"]
USER = json_r["USER"]
PASSWORD = json_r["PASSWORD"]
BD_NAME = json_r["BD_NAME"]

In [7]:
mysql = sql.MySQL(IP_DNS, USER, PASSWORD, BD_NAME, PORT)

In [8]:
con = mysql.connect()

Connected to MySQL server [53994161m_ds_april_2021_db]

In [9]:
df_sql = pd.read_csv('../data/df_sql.csv')

In [13]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://' + sql.json['USER'] + ':' + sql.json['PASSWORD'] + '@' + sql.json['IP_DNS'] + ':' + str(sql.json['PORT'])+ '/' + sql.json['BD_NAME'])
con = engine.connect()

In [14]:
df_sql.to_sql(con=con, name='marina_serrano_carot', if_exists='replace', index=False)

In [ ]:
mysql.close